body {
    margin: 0;
    width: 100%;
    background-color: #887199;
}

nav {
    height: 7vh;
    width: 88%;
    background-color: #0F155F;
    margin-left: 6%;
    margin-top: 4vh;
    border-radius: 30px;
    position: fixed;
    z-index: 1;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%; 
}

.logo img {
    height: 6.5vh;
}

.nama {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    margin-top: 0.5vh;
}

.nama img {
    height: 4vh;
}

.party {
    display: flex;
    align-items: center;
}

.party img {
    height: 5vh;
}

.mlet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mlet img {
    height: 6vh;
}

.jlet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jlet img {
    height: 6vh;
}

.one {
    background-image: url(foto1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.break {
    height: 5vh;
    width: 100%;
    background-color: #0F155F;
}

.two {
    background-image: url(foto2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.tres {
    background-image: url(foto3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.four {
    background-image: url(foto4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.five {
    background-image: url(foto5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

footer {
    background-color: #0F155F;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
    color: white;
}

.jeda {
    width: 100%;
    height: 62vh;
}

.slider {
  scale: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider img {
  height: 25vh;
  border-radius: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 2vh;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
}

.arrow:hover {
  color: #000;
  transform: scale(1.2);
}


