body {
    margin: 0;
    width: 100%;
}

nav {
    height: 7vh;
    width: 88%;
    background-color: #0F155F;
    margin-left: 6%;
    margin-top: 4vh;
    border-radius: 30px;
    position: fixed;
    z-index: 1;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%; 
}

.logo img {
    height: 6.5vh;
}

.nama {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    margin-top: 0.5vh;
}

.nama img {
    height: 4vh;
}

.party {
    display: flex;
    align-items: center;
}

.party img {
    height: 5vh;
}

.mlet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mlet img {
    height: 6vh;
}

.jlet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jlet img {
    height: 6vh;
}

.one {
    width: 100%;
    height: 100vh;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box {
    scale: 2;
    position: absolute;
    top: 20vh;
    left: 35%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
input[type='password'] {
    padding: 10px;
    width: 10vh;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #76c2f1;
    color: white;
    cursor: pointer;
}

